body {
	margin: 1em;
}

h1 {
	color: white;
	font-family: 'Antic Slab', serif;
}

hr {
	width: 10em;
	border: 0;
	height: .3em;
	background-color: #FF4900;
	color: #FF4900;
}

.section {
	padding: 8em 0;
	text-align: center;
	margin: 0.3em;
}

.section.full {
	background-color: #171A1D;
}

.section.wide {
	width: 66%;
}

.section.narrow {
	width: 33%
}