body {
	margin: 1em;
}

h1 {
	color: white;
	font-family: 'Antic Slab', serif;
}

a {
	font-family: 'Armata', sans-serif;
	font-size: 3em;
    color: white;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline ;
}

hr {
	width: 10em;
	border: 0;
	height: .3em;
	background-color: #FF4900;
	color: #FF4900;
}

.section {
	padding: 8em 0;
	text-align: center;
	margin: 0;
}

.section.full {
	background-color: #171A1D;
}

.section.wide {
	float:left;
	width: 66%;
	overflow:hidden;
}

.section.narrow {
	float:right;
	width: 34%;
	overflow:hidden;
}