.what-the-hex {
    background-color: white;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding: 1.5em;
    box-sizing: border-box;

    .hash-icon {
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        bottom: -10%;
        right: -5%;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle farthest-corner at 40px 40px, #E9F7FC 0, #54C2EF, #6aabdda0 100%);
    }

    .description {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 1em;
  
        z-index: 2;

        box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);
        justify-items: center;
        width: 10em;
        min-width: 50%;
        height: calc(100% - 2em);
        padding: 1em;
        overflow: hidden;

        .logo{
            max-width: 100%;
            max-height: 70%;
            padding-bottom: 1em;
            
        }

        .description-text {
            hr {
                width: 15%;
                margin-bottom: 2em;
            }

            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  
            font-weight: normal;
            font-size: 0.8em;
            text-overflow: ellipsis;
            text-align: center;
            color: white;
        }
    }

    .mockup {
        position: absolute;
        top: 5%;
        right: 5%;
        z-index: 1;
        max-width: 90%;
        max-height: 70%;
    }
    .play-badge {
        position: absolute;
        z-index: 3;

        bottom: 1.5em;
        right: 1.5em;
        max-width: calc(100% - 3em);
    }
}