.gallery {
  width: 100%;

  &.scrollable {
    height: 100%;
    overflow: scroll;
  }
}

.gallery-sentinel {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 20% 0;

  &.compact {
    height: 10%;
    padding: 0 0 10% 0;
  }
}

.gallery-layout {
  max-width: 80%;
  margin: auto;
  display: flex;
}