.github-link {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(13, 17, 23);
  border-radius: 8px;
  max-width: 18em;
  border: solid 1px rgb(61, 68, 77);
  overflow: hidden;
  flex-shrink: 1;
  max-height: 2.8em;

  .heading {
    max-width: 100%;
    text-align: left;
    padding: 0.2em 0.4em;
    background-color: rgb(21, 27, 35);
    border-bottom: solid 1px rgb(61, 68, 77);
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    flex-shrink: 1;

    .icon {
      position: relative;
      top: 2px;
      fill: white;
      height: 1em;
      margin-right: 0.5em;
    }

    a {
      overflow: hidden;
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .subheading {
    display: flex;
    max-width: 100%;
    padding: 0.2em;
    box-sizing: border-box;
    justify-content: flex-end;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 0;

    a {
      max-width: 80%;
      overflow: hidden;
      text-decoration: none;
      flex-shrink: 1;
      flex-grow: 0;

      img {
        display: block;
      }

      span {
        font-size: 14px;
        display: block;
        max-width: 100%;
        overflow: hidden;
        color: rgb(145, 152, 161);
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}