.banner {
  background-color: var(--pallet-bg-primary);
  border-top: solid var(--pallet-fg-secondary) 6px;
  border-bottom: solid var(--pallet-fg-secondary) 4px;
  
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;

  
  .content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.2em;
    padding: 0.3em;
  }

  .construction-sign {
    background-image: repeating-linear-gradient(
      -45deg,
      var(--pallet-fg-secondary),
      var(--pallet-fg-secondary) 20px,
      var(--pallet-bg-primary) 25px,
      var(--pallet-bg-primary) 45px,
      var(--pallet-fg-secondary) 50px
    );
    padding: 0.2em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    
    .text-container {
      rotate: -5deg;
      padding: 0 3em 0.1em 3em ;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      text-align: center;
      color: rgb(198, 58, 34);
      font-weight: bold;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
      font-size: 1em;
      box-shadow: 1em 0 .8em rgba(0, 0, 0, 0.3);
    }
  }

  &:hover .peek {
    visibility: visible; 
    position: relative;
  }
  
  .peek {
    visibility: hidden;
    position: absolute;
  }
}

.icon {
  margin-right: 0.5em;
  height: 1.2em;
}

.text {
  color: var(--pallet-fg-secondary);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: bold;
}

.item-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.2em;
}