html,body {
	height: 100%;
	width: 100%;
}

.mood {
	float: left;
	width: 33%;
	min-height: 100%;
    background-repeat: no-repeat;
	background-size: contain;
    background-position: center center;
}

#happy {
	background-image: url(../image/happy.jpg);
}

#medium {
	background-image: url(../image/medium.jpg);
}

#sad {
	background-image: url(../image/sad.jpg);
}