.event-display {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);

  .prompt {
    font-size: 0.5em;
  }

  .item {
    display: flex;
    flex-direction: column;
    margin: 2px 0;

    animation: fadeIn 0.5s ease-in, newEvent 2s ease-in;

    .label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;

      .component {
        font-weight: bold;
      }
    }

    .data {
      color: slategray;
      font-style: italic;
      margin-left: 10px;
      font-size: 0.8em;
    }

    &.removed {
      opacity: 0;
      animation: fadeOut 0.5s ease-out;
    }
  }
}

@keyframes newEvent {
  0% {
    color: green;
  }

  90% {
    color: green;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    color: red;
    opacity: 0;
    transform: translateY(-100%);
  }
}