.metric-display {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;

  .component-item {
    font-weight: bold;
  }

  .guage-list {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    margin-left: 10px;

    .key {
      margin-right: 5px;
    }

    .value {
      font-style: italic;
      color: slategray;

      &.recently-updated {
        color: green;
        font-weight: bold;
      }

      transition: color 0.5s ease-out,
      font-weight 0.5s ease-out;
    }
  }
}