.app {
  text-align: left;
  align-items: left;
  background-color: #9FC2CC;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}
.content {
  flex-grow: 1;
  flex-direction: row;
}

.app-footer {
  background-color: #F4D35E;
  border-top: solid #363732 4px;
  /* border-top: solid #FF3C38 4px; */
  justify-content: left;
  color: #363732;
  padding: 0.5em 1em;

  .url{
    font-family: monospace;
    font-weight: bold;
    font-size: calc(10px + 2vmin);
  }
}