:root {
  --pallet-fg-primary: #583281;
  --pallet-fg-secondary: #363732;
  --pallet-fg-tertiary: #cb1f1c;
  --pallet-bg-primary: #ffe356;
  --pallet-bg-secondary: #caf4ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}